<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Querido <%= @user.full_name %>,</h1>
    <p>
      Este é um lembrete de que sua fatura expira em uma semana...
    </p>
    <p>
      Para estendê-la, basta acessar sua conta em https://www.exemple.com e clicar em "Renovar minha fatura".
    </p>
  </body>
</html>
