<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Join Comarev.</h1>
    <p>
      Hello. <br> You have been invited to join the company: <%=@company.name%> as an employee, in Comarev.
    </p>
    <p>
      <%= link_to "Click Here", "www.comarev.com/signin?token=#{@token}" %> to accept the invitation.
    </p>
    <p>
      If you don't wanna join this company, Click Here to refuse.
    </p>
  </body>
</html>
