<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Join Comarev.</h1>
    <p>
      Hello. <br> You have been invited to join a company in Comarev.
    </p>
    <p>
      In order to accept, you must be loged in first.
    </p>
  </body>
</html>
